/*Defino variables*/
:root {
	--logo_ur: url(img/logo_blanco.svg);
	--directorio: img/;
}
/*termino definicion variables*/
div#sidebarLanguageTogglemain {
    float: right;
	margin-top: 4px;
    margin-right: 10px;
}
tfoot {
    font-size: 0.7em;
}
thead {
    background: #6e1a62;
    color: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px !important;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    color: #333;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    background-color: rgb(255, 255, 255);
}
div#btn-servicios {
    margin-bottom: 15px;
}
.pprg-title {
    display: none;
}
div#articleFullText {
    margin-bottom: 10px;
}
a:focus, a:hover {
	background-color:transparent;
}
a{
	font-weight:bold;
}
p#super a:hover {
    color: #b21e28;
}
p#super a {
    text-decoration: none;
    color: #575656;
}
p#super {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-align: center;
}

div#journalIndexin {
    padding-left:3%;
}
img#investigacionur {
width: 134px;
    display: block;
    position: absolute;
    left: 46.5%;
    padding-top: 20px;
}
div#crai {
    color: #9c9896;
    font-weight: bold;
    text-align: center;
    line-height: 16px;
    letter-spacing: 3px;
    font-size: 12px !important;
    position: absolute;
	bottom: 0px;
	min-width: 100px;
	right: 1%;
	bottom:1%;
}
div#crai p{
	margin:0px;
}
div#sidebarRTArticleTools {
    display: none;
}
#Latindex {color:transparent;background-image:url("/public/site/img/latindex-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#REDIB {color:transparent;background-image:url("/public/site/img/REDIB-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#Dialnet {color:transparent;background-image:url("/public/site/img/Dialnet-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#DOAJ {color:transparent;background-image:url("/public/site/img/DOAJ-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#Redalyc {color:transparent;background-image:url("/public/site/img/REDALYC.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#CLASE {color:transparent;background-image:url("/public/site/img/Clase-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#Scopus {color:transparent;background-image:url("/public/site/img/sjr-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#SciELO {color:transparent;background-image:url("/public/site/img/scielo-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#SciELO-Citation-Index {color:transparent;background-image:url("/public/site/img/");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#ESCI{color:transparent;background-image:url("/public/site/img/ESCI-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#ERINH {color:transparent;background-image:url("/public/site/img/ERIH-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#Scilit {color:transparent;background-image:url("/public/site/img/SCILIT-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#JournalGuide {color:transparent;background-image:url("/public/site/img/JG-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#MIAR {color:transparent;background-image:url("/public/site/img/miar-01.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#CommunicationSource {color:transparent;background-image:url("/public/site/img/EBSCOhost.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
#EJL {color:transparent;background-image:url("/public/site/img/ezb.png");background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;height: 90px;width:105px; }
a#dos {
    background-color: rgba(34,137,112,1);
}
.PlumX-Group {
    display: inline-block;
    height: 60px !important;
	max-width:175px !important; 
	min-width: 175px !important;
}
a#googlemetrics {
    display: inline-block;
	background-image:url("https://4.bp.blogspot.com/-6RLq6_n1N2g/V54xzSaGe_I/AAAAAAAAIYw/KRrCBGQXWeoIdFExTsCXcvnf6JS1_3dyQCLcB/s200/googlescholarmetrics.gif");background-size: 100% 100%;background-repeat: no-repeat;
margin-left:1%;
color:transparent;
}
div#journalIndexin, div#journalDescription{
    min-height: 160px;
	margin-bottom: 1%;
    margin-top: 1%; 
	margin-left: 1%; 
}
div#journalMetrics{
    min-height: 190px;
	margin-bottom: 1%;
    margin-top: 1%; 
	margin-left: 1%; 
}
.PlumX-Researcher .pprg-container, .PlumX-Group .pprg-container, .PlumX-Grant .pprg-container{background:transparent !important;}
a#dos:focus, a#tres:focus, a#cuatro:focus, a#cinco:focus,a#dos:hover, a#tres:hover, a#cuatro:hover, a#cinco:hover,a#dos:active, a#tres:active, a#cuatro:active, a#cinco:active {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
a#dos, a#tres, a#cuatro, a#cinco{
	color:white;
}
.homepageImage:hover span {
visibility: visible;
}
.homepageImage:hover img {
border:2px solid rgba(226, 228, 228, 0.47);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 2px 2px 10px #615f5f;
    -moz-box-shadow: 2px 2px 10px #615f5f;
    border-radius: 15px;
}
.homepageImage h2{font-size:1em;font-weight:bold;margin:0;}
.homepageImage h3{font-size:1em !important;}
.homepageImage span {
    visibility: hidden;
    width: 240px;
    background-color: rgba(10, 74, 102, 0.84);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
	padding: 3px;
	margin-top: 166px;
	margin-left: -166px;
	
}
a#tres {
    background-color: rgba(130,33,68,1);
}
a#cuatro {
    background-color: rgba(238,116,26,1);
}
a#cinco {
    background-color: rgba(81,64,94,1);
}
#breadcrumb {
    padding-top: 1em;
    width: 100%;
    padding: 10px;
    background: rgba(109, 121, 128, 0.23);
    font-size: 0.8em;
    border-radius: 7px;
    color: white;
}
#content h3 {
    margin: 0em 1em 0.25em 0em;
    padding-top: 0.75em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 1.8em;
}
#sidebar div.block span.blockTitle {
    display: block;
    padding: 0.5em 0 0.5em 0;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
#content h4 {
    margin: .75em 1em 0.25em 0em;
    font-weight: normal;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}
.authorBio{
    height: 20px;
    overflow: hidden;
	background-image: url(https://image.freepik.com/iconos-gratis/archivo-de-texto-agregar-botones-de-la-interfaz-esbozado_318-74517.jpg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 100%;
}
div#group, .authorBio, div#group-issue{
    background-image: url(https://image.flaticon.com/icons/png/512/60/60995.png);
    background-repeat: no-repeat;
}
 div#group {
    height:40px;
    overflow: hidden;
    background-size: 15px;
	padding-left:20px;
	background-position-y: 15px;
}
 div#group-issue {
    height:50px;
    overflow: hidden;
    background-size: 15px;
	padding-left:20px;
	background-position-y: 15px;
}

.authorBio:hover, div#group:hover, div#group-issue:hover {
    height: auto;
    overflow: hidden;
	background-image:none;
	background-color:#F3F3F3;
}
div#qrcode img {
    margin: 0 auto;
}
div#headerTitle h2 {
    padding: 0;
    margin: 0%;
    font-size: 1em;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-top:7px;
    float: left;
    margin-right: 10px;
}
.homepageImage img {
    min-height: 140px;
    max-height: 140px;
	border-radius: 10px;
    width: 94px !important;
}
#main h2{
	font-weight: bold;
    text-align: center;
}
a#PDF-en_US {
    content: url(/public/site/img/en_US-pdf.png);
    padding-left: 2px;
    width: 40px;
}
div#container{
    padding-left: 5%;
    padding-right: 5%;
}
a#PDF-pt_BR {
    content: url(/public/site/img/pt_BR-pdf.png);
    padding-left: 2px;
    width: 40px;
}
a#PDF-es_ES {
    content: url(/public/site/img/es_ES-pdf.png);
    padding-left: 2px;
    width: 40px;
}

#myJournals div {
    border: 1px solid #0b425f;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.tocArticle {
    width: 100%;
    /*padding: 5px 0;*/
    border-radius: 0 10px 10px 10px;
    -webkit-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    clear: both;
    color: #333333;
    background-color: #F3F3F3;
    line-height: 16px;
    margin: 0 0 0.5em;
    padding: 5px 10px;
    position: relative;

}
#main h3{font-family:'Oswald', sans-serif;}

.tocArticle:hover {
    background-color: #CCC;
}
#header h1 {
    color: #e2e0df;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 2px 2px #000000;
    font-weight: bold;
    text-align: left;
    line-height: 48px;
    letter-spacing: 3px;
	padding:10px;
}
.tocTitle a{
   color: var(--btn-bg-color);
   font-weight: bold;
   font-size:1.1em;
}
.tocTitle a:hover{
   text-decoration:none;
   background-color: #CCC;
}
.tocArticleTitleAuthors, .tocArticleGalleysPages {
    padding: 13px;
}


div#content {
    border: none;
}
div#logo-revistas {
    width: 13%;
    margin-left: 20%;
	float: left;
}
.well{
	 margin: 10px 50px 20px 30px;
}
div#JournalTitle {
	float: left;
    padding: 0 4% 0 3%;
    width: 100%;
}
.carousel-inner{
	padding: 0 30px 0 40px;
}
input#query-home {
    height: 50px;
	font-size: 25px;
}
.col-xs-12 {
    margin-top: 30px;
}
div#intro {
    float: left;
}
span.input-group-addon {
    height: 50px;
}
div#search {
    width: 75%;
    padding-top: 5%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.carousel-control {
    width: 2% !important;
	font-size: 500% !important;
}
.blockTitle {
    background-color: #0b425f;
    color: white;
	    margin-bottom: 4% !important;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		padding-left:10px !important;

}
body{
    background: url("img/fondof.jpg") no-repeat fixed;
    background-size: cover;
	font-size:'Oswald', sans-serif;
}
div#articleDescription p {
    text-align: justify;
    padding-left: 6px;
    padding-right: 30px;
}
div#citation{
    text-align: justify;
    padding-left: 6px;
    padding-right: 30px;
}
#container{ 
min-width: 320px !important;
}
#navbar a {
font-weight: bold;
}
div#topBar {
    padding: 0;
}
body{
	background-color:white;
	font-family: 'Open Sans', sans-serif;
	font-size:19px !important;
}
#sidebar input.textField, #sidebar select.selectMenu, #sidebar input.button {
    margin-left: 4px;
}
a:visited {
    color: #0b425f;
}
a:link {
    color: #0b425f;
}
input.button {
    background-color: #565656;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #0b425f;
    border-radius: 5px;
}
div#leftSidebar li {
    width: 100%;
    padding: 6px 0;
    border-radius: 4px;
    -webkit-radius: 4px;
    -moz-border-radius: 0 10px 10px 10px;
    clear: both;
    color: #333333;
    background-color: #F3F3F3;
    line-height: 16px;
    margin: 0 0 0.5em;
    padding: 5px 0px 0px 5px;
    position: relative;
    list-style: none;
}
div#leftSidebar li a{
	text-decoration:none;
	background-color:transparent;
}
div#leftSidebar li:hover {
    background-color: #CCC;
	color:white;
}
input.button:hover {
background-color: white;
    color: #0b425f;
}
div#headerTitle img{
	width:170px;
	height:auto !important;
	padding-top:3px;
}
div#logo_UR {
text-align:right;
width: 20%;
}
div#homepageImage1 {
    width: 140px;
    float: right;
	margin-left: 20px;
	    margin-top: 8px;
}
div#JournalTitle img {
    width: 11%;
    height: auto !important;
    float: right;
    margin-left: 25px;
}

div#sidebarLanguageTogglemain1 {
    position: absolute;
    float: right;
    top: 110px;
    right: 10px;
    color: white;
    font-size: 12px;
}
.container {
    width: 945px;
}
	div#sidebarDevelopedBy{display:none;}
#leftSidebar {
       float: left;
    width: 220px !important;
    padding: 1em 1em 1em 1em;
    font-size: 0.65em;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline;
    overflow: hidden;
    background-color: rgba(226, 228, 228, 0.47);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 2px 2px 10px #615f5f;
    -moz-box-shadow: 2px 2px 10px #615f5f;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div#body {
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 3%;
}
#main {
    float: right;
    width: 910px !important;
    overflow: hidden;
}
div#headerTitle h1{
    color: #731d1d;
    padding-bottom: 4%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    padding: 0;
    margin: 0%;
}
div#headerTitle {
    padding-bottom: 0.5%;
	right:0;
	height:80px;
}
div#plumx {
    background-color: white;
    height: 116px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
}
div#scimago img {
    margin-top: -53px;
}
div#scimago {
    background-color: white;
    height: 180px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#scimago td {
    overflow: hidden;
}
div#redalyc {
    background-color: white;
    height: 185px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#redalyc td {
    overflow: hidden;
}
a#boton-publica, a#boton-normas, a#boton-registrese, a#boton-consulta{
    height: 59px;
    width: 23%;
    display: block;
    float: left;
    color: white;
    padding-right: 52px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 14px;
    text-decoration:none;
background-size: 100%;
    min-width: 158px;
    margin-bottom:10px;
}
a#boton-publica {
    background-image: url(/public/site/img/publica.png);
    background-repeat: no-repeat;
}
a#boton-publica:hover {
    background-position-y: -60px;
}
a#boton-consulta {
    margin-left: 2%;
    background-image: url(/public/site/img/consulta.png);
    background-repeat: no-repeat;
}
a#boton-consulta:hover {
    background-position-y: -60px;
}
a#boton-normas {
    background-image: url(/public/site/img/normas.png);
    background-repeat: no-repeat;
}
a#boton-normas:hover {
    background-position-y: -60px;
}
a#boton-registrese {
    background-image: url(/public/site/img/registrese.png);
    padding-top: 16px;
    background-repeat: no-repeat;
}
a#boton-registrese:hover {
    background-position-y: -60px;
}
div#Journaltitle {
    padding-right: 0;
width: 80%;
    float: left;
font-family: 'Oswald', sans-serif;
}
#botones_redes{
	float:right;
	width:auto;
	height:auto;	
	position:fixed;
	top:210px;
	right:0px;
	z-index:1000;
}
div#revistas {
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding-right: 4%;
    padding-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
@media (min-width: 1300px) {
div#revistas {
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding-right: 4%;
    padding-left: 11%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#botones_redes{
	float:right;
	width:auto;
	height:auto;	
	position:fixed;
	top:300px;
	right:0px;
	z-index:1000;
}

div#Journaltitle {
    padding-right: 1%;
width: 80%;
    float: left;
font-family: 'Oswald', sans-serif;
}

#main {
    float: right;
    width: 985px !important;
    overflow: hidden;
}

div#body {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
}
a#boton-publica, a#boton-normas, a#boton-registrese, a#boton-consulta{
    height: 68px;
    width: 25%;
    display: block;
    float: left;
    color: white;
    padding-right: 82px;
    padding-left: 28px;
    padding-top: 15px;
    font-size: 16px;
    text-decoration:none;
background-size: 100%;
    min-width: 158px;
    margin-bottom:10px;
}
a#boton-publica {
    background-image: url(/public/site/img/publica.png);
    background-repeat: no-repeat;
}
a#boton-publica:hover {
    background-position-y: -69px;
}
a#boton-consulta {
    font-size: 14px;
    margin-left: 0%;
    background-image: url(/public/site/img/consulta.png);
    background-repeat: no-repeat;
}
a#boton-consulta:hover {
    background-position-y: -69px;
}
a#boton-normas {
    background-image: url(/public/site/img/normas.png);
    background-repeat: no-repeat;
}
a#boton-normas:hover {
    background-position-y: -69px;
}
a#boton-registrese {
    background-image: url(/public/site/img/registrese.png);
    padding-top: 25px;
    background-repeat: no-repeat;
}
a#boton-registrese:hover {
    background-position-y: -69px;
}
div#plumx {
    background-color: white;
    height: 116px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
}
div#scimago img {
    margin-top: -53px;
}
div#scimago {
    background-color: white;
    height: 180px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#scimago td {
    overflow: hidden;
}
div#redalyc {
    background-color: white;
    height: 185px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#redalyc td {
    overflow: hidden;
}

div#headerTitle {
    padding-bottom: 0.5%;
	right:0;
	height:80px;
}
div#headerTitle h1{
    color: #731d1d;
    padding-bottom: 4%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    padding: 0;
    margin: 0%;
}
#leftSidebar {
       float: left;
    width: 245px !important;
    padding: 1em 1em 1em 1em;
    font-size: 0.65em;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline;
    overflow: hidden;
    background-color: rgba(226, 228, 228, 0.47);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 2px 2px 10px #615f5f;
    -moz-box-shadow: 2px 2px 10px #615f5f;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/*termina media 1300*/
@media (min-width: 1400px) {
div#revistas {
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    padding-right: 4%;
    padding-left: 11%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#botones_redes{
	float:right;
	width:auto;
	height:auto;	
	position:fixed;
	top:300px;
	right:0px;
	z-index:1000;
}

div#Journaltitle {
    padding-right: 2%;
width: 80%;
    float: left;
font-family: 'Oswald', sans-serif;
}

#main {
    float: right;
    width: 1075px !important;
    overflow: hidden;
}

div#body {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
}
a#boton-publica, a#boton-normas, a#boton-registrese, a#boton-consulta{
    height: 68px;
    width: 23%;
    display: block;
    float: left;
    color: white;
    padding-right: 82px;
    padding-left: 28px;
    padding-top: 15px;
    font-size: 16px;
    text-decoration:none;
background-size: 100%;
    min-width: 158px;
    margin-bottom:10px;
}
a#boton-publica {
    background-image: url(/public/site/img/publica.png);
    background-repeat: no-repeat;
}
a#boton-publica:hover {
    background-position-y: -69px;
}
a#boton-consulta {
    font-size: 14px;
    margin-left: 2%;
    background-image: url(/public/site/img/consulta.png);
    background-repeat: no-repeat;
}
a#boton-consulta:hover {
    background-position-y: -69px;
}
a#boton-normas {
    background-image: url(/public/site/img/normas.png);
    background-repeat: no-repeat;
}
a#boton-normas:hover {
    background-position-y: -69px;
}
a#boton-registrese {
    background-image: url(/public/site/img/registrese.png);
    padding-top: 25px;
    background-repeat: no-repeat;
}
a#boton-registrese:hover {
    background-position-y: -69px;
}
div#plumx {
    background-color: white;
    height: 116px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
}
div#scimago img {
    margin-top: -53px;
}
div#scimago {
    background-color: white;
    height: 180px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#scimago td {
    overflow: hidden;
}
div#redalyc {
    background-color: white;
    height: 185px;
    display: inline-block;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
    border-radius: 2px;
    border: 2px solid #e3e3e3;
    overflow: hidden;
    float: left;
}
div#redalyc td {
    overflow: hidden;
}

div#headerTitle {
    padding-bottom: 0.5%;
	right:0;
	height:80px;
}
div#headerTitle h1{
    color: #731d1d;
    padding-bottom: 4%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0%;
}
#leftSidebar {
       float: left;
    width: 245px !important;
    padding: 1em 1em 1em 1em;
    font-size: 0.65em;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline;
    overflow: hidden;
    background-color: rgba(226, 228, 228, 0.47);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 2px 2px 10px #615f5f;
    -moz-box-shadow: 2px 2px 10px #615f5f;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}
/*termina media*/
#main {
       float: left;
    padding: 1em 1em 1em 1em;
    height: 100%;
    margin-left: 1%;
    margin-right: 2%;
    display: inline;
    overflow: hidden;
    background-color: rgba(226, 228, 228, 0.47);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 2px 2px 10px #615f5f;
    -moz-box-shadow: 2px 2px 10px #615f5f;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.menu li{
	padding-right: 10px;
}
.tab-content.pre-scrollable{
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 2px 2px 10px #615f5f;
    -webkit-box-shadow: 6px 4px 10px #615f5f;
    -moz-box-shadow: 6px 4px 10px #615f5f;
    padding-left: 10px;
}
#main2 {
    width: 95% !important;
    margin:0 auto;
    overflow: hidden;
	margin-top:1%;
}
img#eidtorialur {
    width:90px;
    display: block;
    position: absolute;
    left: 31%;
	padding-top:10px;
}
img#cope {
    width: 110px;
    display: block;
    position: absolute;
    left: 65%;
}
img#cc {
    width: 110px;
    display: block;
    position: absolute;
    left: 57%;
}
img#repositoriour {
    width: 110px;
    display: block;
    position: absolute;
    left: 38%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index:3;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index:100000;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  	max-height: 30%;
  	overflow: auto;
	text-align: justify;
}
img#img_cop {
    position: relative;
    width: 42%;
    float: left;
    padding-right: 3%;
    padding-bottom: 2%;
}

li#home a{
    background-image: url("img/web-home.png");
    background-repeat: no-repeat;
      background-size: 28%;
    background-position-x: 0%;
    background-position-y: 100%;
    padding-left: 20px;
}
li#journals a{
    background-image: url("img/web-revistas.svg");
    background-repeat: no-repeat;
      background-size: 13%;
    background-position-x: 0%;
    background-position-y: 100%;
    padding-left: 20px;
}

li#login a{
    background-image: url("img/login.png");
    background-repeat: no-repeat;
      background-size: 15%;
    background-position-x: 00%;
    background-position-y: 100%;
    padding-left: 20px;
}
a#pdfDownloadLink {
    display: none;
}
li#register a{
    background-image: url("img/new-user.png");
    background-repeat: no-repeat;
      background-size: 15%;
    background-position-x: 00%;
    background-position-y: 100%;
    padding-left: 20px;
}
span.blockTitle1 {
    background-color: #0b425f;
    color: white;
    margin-bottom: 4% !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px !important;
    margin-top: -14px;
}
span.blockTitle1 {
    display: block;
    padding: 0.5em 0 0.5em 0;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
div#JournalId h2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
}
div#JournalId h1 {
    font-size: 19px;
}
div#Journaldoi h2 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 0;
}
div#Journaldoi h1 {
    font-size: 19px;
}
li#search a{
    background-image: url("img/search.png");
    background-repeat: no-repeat;
      background-size: 25%;
    background-position-x: 00%;
    background-position-y: 100%;
    padding-left: 20px;
}
li#about a{
    background-image: url("img/acercade.png");
    background-repeat: no-repeat;
      background-size: 25%;
    background-position-x: 00%;
    background-position-y: 100%;
    padding-left: 20px;
}
div#sidebarFontSize{display:none;}
div#sidebarHelp{display:none;}
li#userHome a{
    background-image: url("img/persona.png");
    background-repeat: no-repeat;
    background-size: 16%;
    background-position-x: 00%;
    background-position-y: 100%;
    padding-left: 20px;
}
div#sidebarLanguageToggle {
display:none;
}
#sidebarLanguageToggle label{
	float:none !important;
	    font-weight: bold;
}
div#rightSidebar div {
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 5px;
}
div#articleTop {
    float: left;
    width: 85%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    margin: 0 5px;
}
#languageSelect{
	float:none !important;
	padding: 3px;
}
#sidebarLanguageToggle .blockTitle {
    background-color: transparent;
    color: transparent;
    height: 0px;
}
div#navbar{
    position: fixed;
    top: 0;
    right: 0;
	width: 100%;
    background-color: rgb(28, 111, 130);
	border:none;
		padding-top:2px;
		padding-bottom:0px !important;
		z-index: 1000;
		
}
.label{
	font-size: 100% !important;
	color: #171414 !important;
}
div#navbar a{ color:white;}
ul.menu{float:right;}
ul.menu a{text-transform: none;}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    background-color: white;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.47);
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #0b425f;
    color: white;
}
.pre-scrollable{
	max-height: 440px;
}
#fullscreenShow {
    float: none;
}
a.pdf{
	float: left;
}
div#issueCover {
    float: left;
	height:570px;
    overflow:hidden;
}
div#issueTOC {
    width: 68%;
    float: right;
    overflow-y: scroll;
    height: 520px;
}
div#pageFooter {
    float: left;
    margin-top: 10px;
    width: 100%;
}
h3#issue-toc {
    width: 50%;
    float: left;
    margin-left: 2%;
	font-weight: bold;
}
div#navbar a:hover {
    background-color: #206488;
}
table#descargas-ojs {
    width: 50%;
}

/* CSS Document */
/*redes_sociales*/
.twitter, .twitter:focus{
	background-image:url(/public/site/img/twitter.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgba(105, 105, 105, 0.8);
	width:45px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:1px;
	height:45px;
	float:right;
	clear:both;
	text-decoration:none;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
	color:transparent !important;
}
.twitter:hover{
	background-image:url(/public/site/img/twitter.png);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#4099FF;
	color:#FFF !important;
	width:75px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	font-size:11px;
	line-height:4px;
	margin-left:30px;
	text-align: right;
	padding-top:20px;
	text-decoration:none;
	padding-right:5px;
}
.fb, .fb:focus{
	background-image:url(/public/site/img/facebook.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgba(105, 105, 105, 0.8);
	width:45px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:1px;
	height:45px;
	float:right;
	clear:both;
	text-decoration:none;
	color:transparent !important;
	    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.fb:hover{
	background-image:url(/public/site/img/facebook.png);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#3b5998;
	color:#FFF !important;
	width:75px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	font-size:11px;
	line-height:4px;
	margin-left:30px;
	text-align: right;
	padding-top:20px;
	text-decoration:none;
	padding-right:5px;
}
.youtube, .youtube:focus{
	background-image:url(/public/site/img/youtube.png);
	background-position:center;
	background-repeat:no-repeat;
	background-color:rgba(105, 105, 105, 0.8);
	width:45px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top:1px;
	height:45px;
	float:right;
	clear:both;
	text-decoration:none;
	color:transparent !important;
	    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.youtube:hover{
	background-image:url(/public/site/img/youtube.png);
	background-position:left;
	background-repeat:no-repeat;
	background-color:#cd332d;
	color:#FFF !important;
	width:75px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	font-size:11px;
	line-height:4px;
	margin-left:30px;
	text-align: right;
	padding-top:20px;
	text-decoration:none;
	padding-right:5px;
}

/*redes_sociales*/

div#cope img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width:113px;
}
div#journal_Des {
    margin-bottom: 1%;
    margin-top: 1%;
}

div#issues_description img {
    max-height: 300px;
    width: auto;
	margin: 0 auto;
}
div#issues_description h4 {
    max-height: 300px;
    width: auto;
	margin: 0 auto;
}

#announcementsHome h3 {
    text-align: center;
    background-color: #0b425f;
    margin: 0;
    color: white;
    border: none;
    padding: 3px;
}
#issues_description h3{
    text-align: center;
    background-color:#0b425f;
    margin: 0;
    color: white;
    border: none;
    padding: 3px;
}
div#issues_description h4 {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
}
div#issueCover img {
    width: auto;
    max-height: 250px;
    margin-left: 20%;
	margin-top:10%;
	max-width: 400px;
}
select#languageSelect_ur {
    border: 0;
    font-size: 0.65em;
	padding:0;
	margin:0 auto !important;
}

